<h4><span class="label label-danger">paidy</span></h4>
<br>

<div class="container-fluid">
<%if(allpid && allpid.length!==0){%>
&nbsp;&nbsp;&nbsp;&nbsp;

<div class="row">

<%for(var i=0;i<allpid.length;i++){%>
<div class="well col-md-10">
<font color="red">
<b><u>&nbsp;&nbsp;&nbsp;&nbsp;購入日時：
<%=allpid[i].date%></u></b><br>
</font>
<u>&nbsp;&nbsp;&nbsp;&nbsp;注文番号：
<%=allpid[i].pid%></u><br>
</div><!-- col12-->
</div><!-- row-->

<div class="row">

<%if(oite && oite.length!==0){%>
<%for (var j=0;j<oite[i].length;j++){%>

<div align="center" class="col-md-3">
<img src="../img/cd/<%=oite[i][j].id%>.png" width="150cm" height="150mm">
</div><!-- col3-->

<div class="well col-md-7">
<div class="note">
商品タイトル：<%=oite[i][j].title%><br>
品番：TMS-&nbsp;<%=oite[i][j].id%>&nbsp; <br>
商品単価：&nbsp;<%= (oite[i][j].unit_price).toLocaleString() %>円&nbsp; (税抜）<br>
税込価格：&nbsp;<%= Math.ceil(oite[i][j].unit_price*1.08).toLocaleString() %>円&nbsp;<br>
数量：<%=oite[i][0].quantity%><br>

</div><!-- note-->
</div><!-- col7-->
<%}%>

<div align="right" class="col-md-8"></div><!-- col8-->

<div align="right" class="well col-md-2">
送料：650円<br>
小計：&nbsp;<%= (allpid[i].mnt-650).toLocaleString() %>円<br>
合計金額：<%=allpid[i].mnt.toLocaleString()%>円<br>
</div><!-- col2-->

<%}%>
<%}%>
</div><!-- col2-->
<%} else {%> paidyでの購入はありません <%}%>
</div><!-- cont-->
