<% var d=new Date(mon[0].date) %>
<% var day= d.getDay() %>

<div class="row">
<div class="table-responsive">
    
<table class="table">
        
<% include ./day %>

<tr>
<% for (var i=mon1.length-day;i<mon1.length;i++ )  { %>
<td class="p-2 bg-ali border">
    <%= (mon1[i].date).toString().slice(8).replace(/^0/,"") %><br>
<span class="bg-ali"><a href="<%= mon1[i].des %>" target="_blank" >
<%= mon1[i].eve %> </a></span>
</td>
<% } %>

<% for (var i=0;i<7-day;i++ )  { %>
<td class="p-2 bg-ali border">
    <%= (mon[i].date).toString().slice(8).replace(/^0/,"") %><br>
<span class="bg-ali"><a href="<%= mon[i].des %>" target="_blank" >
<%= mon[i].eve %> </a></span>
</td>
<% } %>

</tr><!-- row-->

<tr >

<% for (var i=7-day;i<9-day;i++ )  { %>
<td class="p-2 bg-ali border">
    <%= (mon[i].date).toString().slice(8).replace(/^0/,"") %><br>
<span class="bg-ali"><a href="<%= mon[i].des %>" target="_blank" >
        <%= mon[i].eve %> </a></span>
</td>
<% } %>

<% for (var i=9-day;i<14-day;i++ )  { %>
<td class="p-2 bg-ali border">
    <%= (mon[i].date).toString().slice(8).replace(/^0/,"") %><br>
<span class="bg-ali"><a href="<%= mon[i].des %>" target="_blank" >
        <%= mon[i].eve %> </a></span>
</td>
<% } %>

</tr><!-- row-->

<tr> 
<% for (var i=14-day;i<21-day;i++ )  { %>
<td class="p-2 bg-ali border">
    <%= (mon[i].date).toString().slice(8).replace(/^0/,"") %><br>
<span class="bg-ali"><a href="<%= mon[i].des %>" target="_blank" >
        <%= mon[i].eve %> </a></span>
</td>
<% } %>

</tr><!-- row-->

<tr >

<% for (var i=21-day;i<28-day;i++ )  { %>
<td class="p-2 bg-ali border">
    <%= mon[i].date.toString().slice(8) %><br>
<span class="bg-ali"><a href="<%= mon[i].des %>" target="_blank" >
<%= mon[i].eve %> </a></span>
</td>
<% } %>

</tr><!--tr-->

<tr>
<% if(mon.length-(28-day) > 0 &&  mon.length-(28-day) <= 7){ %>

<% for (var i=28-day;i<mon.length;i++ ) { %>
<td class="p-2 bg-ali border">
    <%= (mon[i].date).toString().slice(8).replace(/^0/,"") %><br>
<span class="bg-ali"><a href="<%= mon[i].des %>" target="_blank" >
<%= mon[i].eve %> </a></span>
</td>
<% } %><!-- for-->

<% for (var i=0;i<7-(mon.length-(28-day));i++ )  { %>
<td class="p-2 bg-ali border">
    <%= (mon2[i].date).toString().slice(9) %><br>
<span class="bg-ali"><a href="<%= mon2[i].des %>" target="_blank" >
<%= mon2[i].eve %> </a></span>
</td>
<% } %><!-- for-->

<% } else if(mon.length-(28-day)>7) { %>
<% for (var i=28-day;i<mon.length-1;i++ )  { %>
<td class="p-2 bg-ali border">
    <%= (mon[i].date).toString().slice(8) %><br>
<span class="bg-ali"><a href="<%= mon[i].des %>" target="_blank" >
<%= mon[i].eve %> </a></span>
</td>

<% } %><!-- for-->

<% } else { %>

<% for (var i=28-day;i<mon.length;i++ )  { %>
<td class="p-2 bg-lg border">
    <%= (mon[i].date).toString().slice(8).replace(/^0/,"") %><br>
<span class="bg-ali"><a href="<%= mon[i].des %>" target="_blank" >
<%= mon[i].eve %> </a></span>
</td>
<% } %><!-- for-->

<% for (var i=0;i<(7-(mon.length-(28-day)));i++ )  { %>
<td class="p-2 bg-ali border">
    <%= (mon2[i].date).toString().slice(9) %><br>
<span class="bg-ali"><a href="<%= mon2[i].des %>" target="_blank" >
<%= mon2[i].eve %> </a></span>
</td>
<% } %><!-- for-->

<% } %><!-- else-->

</tr><!-- row-->

<tr>
<% if(par==3 || par==6) { %>
<td class="p-2 bg-ali border">
    <%= (mon[mon.length-1].date).toString().slice(8).replace(/^0/,"") %><br>
<span class="bg-ali"><a href="<%= mon[mon.length-1].des %>" target="_blank" >
<%= mon[mon.length-1].eve %> </a></span>
</td>

<% for (var i=0;i<6;i++ )  { %>
<td class="p-2 bg-ali border">
    <%= (mon2[i].date).toString().slice(8).replace(/^0/,"") %><br>
<span class="bg-ali"><a href="<%= mon2[i].des %>" target="_blank" >
<%= mon2[i].eve %> </a></span>
</td>
<% } %><!-- for-->

<% } %><!-- if-->

</tr><!-- row-->

</table>
</div>
</div>
