<div class="row">

<% for (var i=0;i<2;i++ )  { %>
<div class="col p-3 bg-ali border">
3<%= i %>
</div>
<% } %>

<% for (var i=0;i<5;i++ )  { %>
<div class="col p-3 bg-ali border">
    <%= (cal[i].date).toString().slice(7) %>

<span class="bg-mis"><a href="<%= cal[i].des %>" target="_blank" ><%= cal[i].eve %> </a></span>
</div>
<% } %>
</div><!-- row-->

<div class="row">

<% for (var i=5;i<9;i++ )  { %>
<div class="col p-3 bg-ali border">
    <%= (cal[i].date).toString().slice(7) %>
    <span class="bg-mis"><a href="<%= cal[i].des %>" target="_blank" ><%= cal[i].eve %> </a></span>
</div>
<% } %>

<% for (var i=9;i<12;i++ )  { %>
<div class="col p-3 bg-ali border">
    <%= (cal[i].date).toString().slice(6) %>
    <span class="bg-mis"><a href="<%= cal[i].des %>" target="_blank" ><%= cal[i].eve %> </a></span>
</div>
<% } %>


</div><!-- row-->

<div class="row">
<% for (var i=12;i<19;i++ )  { %>
<div class="col p-3 bg-ali border">
    <%= (cal[i].date).toString().slice(6) %>
    <span class="bg-mis"><a href="<%= cal[i].des %>" target="_blank" ><%= cal[i].eve %> </a></span>
</div>
<% } %>

</div><!-- row-->

<div class="row">
<% for (var i=19;i<26;i++ )  { %>
<div class="col p-3 bg-ali border">

    <%= (cal[i].date).toString().slice(6) %>

    <span class="bg-mis"><a href="<%= cal[i].des %>" target="_blank" ><%= cal[i].eve %> </a></span>
</div>
<% } %>
</div><!-- row-->

<% if (cal.length > 28) { %>
<div class="row">
<% for (var i=26;i<31;i++ )  { %>
<div class="col p-3 bg-ali border">
    <%= (cal[i].date).toString().slice(6) %>
    <span class="bg-mis"><a href="<%= cal[i].des %>" target="_blank" ><%= cal[i].eve %> </a></span>
</div>
<% } %>

<% for (var i=1;i<3;i++ )  { %>
<div class="col p-3 bg-ali border">
<%= i %>
</div>
<% } %>


</div><!-- row-->
<% } %>



