<div class="row">

<% for (var i=26;i<29;i++ )  { %>
<div class="col p-3 bg-ali border">
<%= i %>
</div>
<% } %>

<% for (var i=30;i<32;i++ )  { %>
<div class="col p-3 bg-ali border">
<%= i %>
</div>
<% } %>

<% for (var i=0;i<2;i++ )  { %>
<div class="col p-3 bg-ali border">
    <%= (cal[i].date).toString().slice(7) %>

<span class="bg-mis"><a href="<%= cal[i].des %>" target="_blank" ><%= cal[i].eve %> </a></span>
</div>
<% } %>
</div><!-- row-->

<div class="row">

<% for (var i=2;i<9;i++ )  { %>
<div class="col p-3 bg-ali border">

    <%= (cal[i].date).toString().slice(7) %>

    <span class="bg-mis"><a href="<%= cal[i].des %>" target="_blank" ><%= cal[i].eve %> </a></span>
</div>
<% } %>

</div><!-- row-->

<div class="row">
<% for (var i=9;i<16;i++ )  { %>
<div class="col p-3 bg-ali border">
    <%= (cal[i].date).toString().slice(6) %>
    <span class="bg-mis"><a href="<%= cal[i].des %>" target="_blank" ><%= cal[i].eve %> </a></span>
</div>
<% } %>

</div><!-- row-->

<div class="row">
<% for (var i=16;i<23;i++ )  { %>
<div class="col p-3 bg-ali border">

    <%= (cal[i].date).toString().slice(6) %>

    <span class="bg-mis"><a href="<%= cal[i].des %>" target="_blank" ><%= cal[i].eve %> </a></span>
</div>
<% } %>
</div><!-- row-->

<% if (cal.length>27) { %>

<div class="row">
<% for (var i=23;i<28;i++ )  { %>
<div class="col p-3 bg-ali border">
    <%= (cal[i].date).toString().slice(6) %>
    <span class="bg-mis"><a href="<%= cal[i].des %>" target="_blank" ><%= cal[i].eve %> </a></span>
</div>
<% } %>

<% for (var i=1;i<3;i++ )  { %>
<div class="col p-3 bg-ali border">
<%= i %>
</div>
<% } %>

</div><!-- row-->

<% } %>



