<div class="row">

<div class="col p-3 bg-ali border">
    31
</div>

<% for (var i=1;i<7;i++ )  { %>
<div class="col p-3 bg-ali border">
<%= i %>
</div>
<% } %><!-- for-->
</div><!-- row-->

<div class="row">

<% for (var i=7;i<14;i++ )  { %>
<div class="col p-3 bg-ali border">

    <%= (cal[i].date).toString().slice(7) %>

    <span class="bg-mis"><a href="<%= cal[i].des %>" target="_blank" ><%= cal[i].eve %> </a></span>
</div>
<% } %>

</div><!-- row-->

<div class="row">
<% for (var i=14;i<21;i++ )  { %>
<div class="col p-3 bg-ali border">
    <%= (cal[i].date).toString().slice(6) %>
    <span class="bg-mis"><a href="<%= cal[i].des %>" target="_blank" ><%= cal[i].eve %> </a></span>
</div>
<% } %>

</div><!-- row-->

<div class="row">
<% for (var i=21;i<28;i++ )  { %>
<div class="col p-3 bg-ali border">

    <%= (cal[i].date).toString().slice(6) %>

    <span class="bg-mis"><a href="<%= cal[i].des %>" target="_blank" ><%= cal[i].eve %> </a></span>
</div>
<% } %>
</div><!-- row-->

<% if (cal.length>28) { %>
<div class="row">
<% for (var i=28;i<30;i++ )  { %>
<div class="col p-3 bg-ali border">

    <%= (cal[i].date).toString().slice(6) %>

    <span class="bg-mis"><a href="<%= cal[i].des %>" target="_blank" ><%= cal[i].eve %> </a></span>
</div>
<% } %>

<% for (var i=1;i<6;i++ )  { %>
<div class="col p-3 bg-ali border">
<%= i %>
</div>
<% } %><!-- for-->
</div><!-- row-->

</div><!-- row-->

<% } %>



