<% include ./day %>
<div class="row">

<% for (var i=4;i<9;i++ )  { %>
<div class="col p-3 bg-ali border">
2<%= i %>
</div>
<% } %>

<% for (var i=0;i<2;i++ )  { %>
<div class="col p-3 bg-ali border">
<%= (mon[i].date).toString().slice(9) %>

<span class="bg-mis"><a href="<%= mon[i].des %>" target="_blank" ><%= mon[i].eve %> </a></span>
</div>
<% } %>
</div><!-- row-->

<div class="row">

<% for (var i=2;i<9;i++ )  { %>
<div class="col p-3 bg-ali border">

    <%= (mon[i].date).toString().slice(9) %>

    <span class="bg-mis"><a href="<%= mon[i].des %>" target="_blank" ><%= mon[i].eve %> </a></span>
</div>
<% } %>

</div><!-- row-->

<div class="row">
<% for (var i=9;i<16;i++ )  { %>
<div class="col p-3 bg-ali border">
    <%= (mon[i].date).toString().slice(8) %>
    <span class="bg-mis"><a href="<%= mon[i].des %>" target="_blank" ><%= mon[i].eve %> </a></span>
</div>
<% } %>

</div><!-- row-->

<div class="row">
<% for (var i=16;i<23;i++ )  { %>
<div class="col p-3 bg-ali border">

<%= (mon[i].date).toString().slice(8) %>
<span class="bg-mis"><a href="<%= mon[i].des %>" target="_blank" ><%= mon[i].eve %> </a></span>
</div>
<% } %>
</div><!-- row-->

<div class="row">
<% for (var i=23;i<30;i++ )  { %>
<div class="col p-3 bg-ali border">
<%= (mon[i].date).toString().slice(8) %>
<span class="bg-mis"><a href="<%= mon[i].des %>" target="_blank" ><%= mon[i].eve %> </a></span>
</div>
<% } %>
</div><!-- row-->

<div class="row">

<div class="col p-3 bg-ali border">
<%= (mon[mon.length].date).toString().slice(8) %>
<span class="bg-mis"><a href="<%= mon[i].des %>" target="_blank" ><%= mon[i].eve %> </a></span>
</div>
<% for (var i=23;i<30;i++ )  { %>
<div class="col p-3 bg-ali border">
<%= (mon[i].date).toString().slice(8) %>
<span class="bg-mis"><a href="<%= mon[i].des %>" target="_blank" ><%= mon[i].eve %> </a></span>
</div>
<% } %>

</div><!-- row-->

