<b>【NEWS】<%= news.debut %></b>

<div class="style1"><br> 

●<%= news.deb1 %><br>
●<%= news.deb2 %><br>
●<%= news.deb3 %><br>
●<%= news.deb4 %><br>

※<%= news.deb5 %><br>
※<%= news.deb6 %><br>
<b>【NEWS】&nbsp;&nbsp;&nbsp;2019年2月6日（水）お披露目イベントが決定しました！ (2019.01.25 up)</b>

<div class="style1"><br> 

●日時：2019年2月6日（水）21:00〜22:00（予定）<br>
●会場:&nbsp;<a href="https://www.cafe-athome.com" target="_blank">＠ほぉ〜むカフェ　本店6F</a><br>
●出演：Rev:robe(ナギ、あゆ、はぐみ）<br>
●チケット：1月27日（日）9:30より無料配布を開始致します。<br>
※配布場所：＠ほぉ〜むショップ（本店2F）<br>
※備考：お渡しするチケット番号はランダムでのお渡しになります。<br><br><br>
問合せ：<a href="http://tmsmusic.tokyo/mail" target="_blank" >トムス・ミュージック</a>

●<%= news.deb7 %><a href='http://tmsmusic.tokyo/mail' target='_blank' ><%= news.deb8 %></a>
</div>

<br>
<b>【NEWS】&nbsp;&nbsp;&nbsp;Rev:robe結成＆ティザーサイトオープン (2019.01.25 up)</b>

<div class="style1"><br> 
秋葉原のメイドカフェ「＠ほぉ〜むカフェ」の現役メイド、ナギ、あゆ、はぐみの3名によるユニット『Rev:robe』結成！<br>
この春のCDリリースに向けて始動致します。<br>




