<div id="demo" class="carousel slide" data-ride="carousel"
data-interval="2000">
<div class="carousel-inner">

<div class="carousel-item active">
<div class="row">
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[0].replace(/public\//,"") %>" alt="" width="400">
</div>
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[1].replace(/public\//,"") %>" alt="" width="400">
</div>
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[2].replace(/public\//,"") %>" alt="" width="400">
</div>
</div>
</div>

<div class="carousel-item">
<div class="row">
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[1].replace(/public\//,"") %>" alt="" width="400">
</div>
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[2].replace(/public\//,"") %>" alt="" width="400">
</div>
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[3].replace(/public\//,"") %>" alt="" width="400">
</div>
</div>
</div>

<div class="carousel-item">
<div class="row">
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[2].replace(/public\//,"") %>" alt="" width="400">
</div>
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[3].replace(/public\//,"") %>" alt="" width="400">
</div>
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[4].replace(/public\//,"") %>" alt="" width="400">
</div>
</div>
</div>

<div class="carousel-item">
<div class="row">
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[3].replace(/public\//,"") %>" alt="" width="400">
</div>
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[4].replace(/public\//,"") %>" alt="" width="400">
</div>
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[5].replace(/public\//,"") %>" alt="" width="400">
</div>
</div>
</div>

<div class="carousel-item">
<div class="row">
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[4].replace(/public\//,"") %>" alt="" width="400">
</div>
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[5].replace(/public\//,"") %>" alt="" width="400">
</div>
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[6].replace(/public\//,"") %>" alt="" width="400">
</div>
</div>
</div>

<div class="carousel-item">
<div class="row">
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[5].replace(/public\//,"") %>" alt="" width="400">
</div>
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[6].replace(/public\//,"") %>" alt="" width="400">
</div>
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[1].replace(/public\//,"") %>" alt="" width="400">
</div>
</div>
</div>

<div class="carousel-item">
<div class="row">
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[6].replace(/public\//,"") %>" alt="" width="400">
</div>
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[1].replace(/public\//,"") %>" alt="" width="400">
</div>
<div class="col-sm">
<img class="d-block img-fluid" src="<%= iarr[2].replace(/public\//,"") %>" alt="" width="400">
</div>
</div>
</div>

  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>



</div>
</div>


